{% extends 'main/base.html' %}
{% block content %}
    <div class="container">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-3">
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">
                            Пароль успешно отправлен на email!
                        </h4>
                    </div>
                    <div class="card-body">
                        <p class="text-center">
                            Проверьте Вашу электронную почту и повторите попытку авторизации
                        </p>
                    </div>

                    <a href="{% url 'users:login' %}" class="btn btn-success">Перейти к авторизации</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}