{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
<div class="header px-3 py-3 pt-md-5 pb-md-4">
    <h2 class="text">Пользователи:</h2>
</div>
<div class="my-3 p-3 bg-body rounded shadow-sm">
    {% for user in users_list %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ user.email }}</h5>
            <p class="card-text">Рассылки:</p>
            <ul>
                {% for mailing in user.mailing_set.all %}
                <li>{{ mailing.message.title }} ({{ mailing.status }})</li>
                {% empty %}
                <li>Нет рассылок.</li>
                {% endfor %}
            </ul>
            <div class="form-check">
                <input type="checkbox" class="form-check-input"
                       id="toggleActivity_{{ user.pk }}"
                       onchange="location.href='{% url 'users:toggle_activity' user.pk %}'"
                       {% if user.is_active %}checked{% endif %}>
                <label class="form-check-label" for="toggleActivity_{{ user.pk }}">
                    {% if user.is_active %}Деактивировать{% else %}Активировать{% endif %}
                </label>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
