{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}
<div class="my-3 p-3 ms-4 me-4 bg-body rounded shadow-sm">
    {% if user.is_authenticated %}
        <p class="display-4 fs-2 border-bottom">{{ user_email }}</p>
        <div class="d-flex text-muted ms-4 me-4 pt-3 justify-content-between">
            <strong class="d-block text-gray-dark">Общее количество рассылок:
                <span class="fw-normal">{{ mailing_count }}</span></strong>
        </div>
        <div class="d-flex text-muted ms-4 me-4 pt-3 justify-content-between">
            <strong class="d-block text-gray-dark">Количество активных рассылок:
                <span class="fw-normal">{{ active_mailing_count }}</span></strong>
        </div>
        <div class="d-flex text-muted ms-4 me-4 pt-3 justify-content-between">
            <strong class="d-block text-gray-dark">Количество клиентов:
                <span class="fw-normal">{{ clients_count }}</span></strong>
        </div>
    {% endif %}
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="col-12 mb-5 text-center">
            <a class="btn btn-secondary btn-lg button-size" href="{% url 'main:make_mailing' %}">
                Создать рассылку
            </a>
        </div>
        <div class="col-12 mb-5 text-center">
            <a class="btn btn-secondary btn-lg button-size" href="{% url 'main:mailings_list' %}">
                Посмотреть рассылки
            </a>
        </div>
    </div>
</div>
<style>
    .button-size {
        width: 350px;
        height: 50px;
        display: inline-block;
    }
</style>

<div class="col-12 mt-5">
    <h3 class="text-center">Интересные идеи и полезные советы по интернет-маркетингу</h3>
    <div class="row">
        {% if random_posts %}
        {% for post in random_posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <img src="{{ post.image | media_filter }}" class="card-img-top"
                         style="height: 200px; width: 100%; object-fit: contain;">
                    <p class="card-text">
                        {{ post.body|slice:":100" }}{% if post.body|length > 100 %}...{% endif %}
                    </p>
                    <p class="card-text">Просмотры: {{ post.view_counter }}</p>
                    <div class="d-flex flex-column">
                        <a type="button" class="btn btn-outline-dark btn-sm mb-1"
                           href="{% url 'blog:blog_view' post.pk %}" role="button">Читать</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center">Скоро здесь появятся новые статьи.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
